html    body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 1px;
    background-color: #c2dcfc;
    color: white;
}

button{
    background-color: #eddea4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

#header_buttons {
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-left{
    align-self: left;

}

.btn-right{
    align-self: right;
}
