body {
    display: flex;
    flex-direction: column;
    align-items: center
}

form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > * {
    margin: 0.25rem;
}

p{
    font-size: 0.8rem;
    text-align: center;
}

#popUp {
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

#popUp.hidden {
opacity: 0;
}
  