<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesAlterTable.css') }}">
    <title>page admin</title>
</head>
<body>
    <header id="header">
        <div id="headerButtons">
            <button id="returnButton" class="buttonLeft">Retour</button>
            <button id="editButton" class="buttonRight">Editer</button>
        </div>
    </header>

    <form id="topForm">
        <select id="existingAttribut">
            <option value=""></option>
        </select>

        <button id="addAttribut">ajouter</button>
    </form>
    
    <script src="{{ url_for('static', filename='script.js') }}" ></script>
    <script src="{{ url_for('static', filename='scriptAlterTable.js') }}" ></script>
</body>
</html>