<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        #buttonFlex{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 200px;
        }

    </style>
    <title>Login</title>
</head>
<body>
    <header id="header">
        <div id="headerButtons">
            <button id="returnButton" class="buttonLeft">Retour</button>
        </div>
    </header>
    <div id="buttonFlex">
        <button id="disconnectButton">Déconnexion</button>
    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}" ></script>
<script src="{{ url_for('static', filename='scriptLog.js') }}" ></script>


</html>
