<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesVelo.css') }}">
    <title>Ma Page</title>
</head>
<body>
    <header id="header">
        <div id="headerButtons">
            <button id="returnButton" class="buttonLeft">Retour</button>
            <button id="editButton" class="buttonRight">Editer</button>
        </div>
    </header>

    <p id="title" class="bigFont"></p>

    <img id="largeImage" src="">
    
    <div id="smallImageContener">
        <img id="photo1" src="">
        <img id="photo2" src="">
        <img id="photo3" src="">
    </div>

    <div id="caracteristics">
        <div id="columnLeftCaracteristics" class="column">
            <ul>

            </ul>
        </div>
        <div id="columnRightCaracteristics" class="column">
            <ul>

            </ul>
        </div>
    </div>

    <button id="detailButton">Détail</button>

    <div id="detail" class="detail" display="none">
        <div id="columnLeftDetail" class="column">
            <ul>
            </ul>
        </div>
        <div id="columnRightDetail" class="column">
            <ul>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scriptVelo.js') }}" ></script>
    <script src="{{ url_for('static', filename='script.js') }}" ></script>
</body>
</html>
